# NFL Passing Offense Performance - Exploratory Data Analysis

## Project Overview
**Knowledge Domain:** NFL Passing Offense Performance  
**Single Aspect:** Team passing statistics (yards, attempts, touchdowns, interceptions)  

### Research Questions
1. Which NFL teams have the highest average passing yards per game in a season?
2. Is there a relationship between passing touchdowns and total team wins?
3. How does interception rate affect a team’s overall passing efficiency?
4. Do teams with higher pass attempts per game score more points?
5. How does a team’s passing performance change across multiple seasons?

### Client & Value
**Potential Client:** NFL coaching staffs, offensive coordinators, or sports analysts.  
**Value Provided:** This analysis helps identify which passing metrics most contribute to team success. Coaches and analysts can use the results to evaluate offensive strategies, compare teams, and understand how passing efficiency impacts overall performance.

## Data Source
**Pro-Football-Reference — NFL Team Passing Statistics (by Season)** 
Link: [https://www.pro-football-reference.com/years/2023/passing.htm](https://www.pro-football-reference.com/years/2023/passing.htm)

---

## 1. Import Libraries

In [1]:
import pandas as pd

## 2. Load Data
Loading the dataset from the CSV file. Please ensure `nfl_passing_2023.csv` is in the same directory.

In [2]:
# Load the dataset
df = pd.read_csv('nfl_passing_2023.csv')

# Display the first few rows to verify loading
df.head()

,Rk,Player,Age,Team,Pos,G,GS,QBrec,Cmp,Att,...,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,Awards,Player-additional
0,1,Tua Tagovailoa,25,MIA,QB,17,17,11-6-0,388,560,...,61.5,29,171,4.92,7.56,7.48,2,2,PBAP CPoY-5,TagoTu00
1,2,Jared Goff,29,DET,QB,17,17,12-5-0,407,605,...,61.1,30,197,4.72,6.89,6.99,2,3,NaN,GoffJa00
2,3,Dak Prescott,30,DAL,QB,17,17,12-5-0,410,590,...,73.4,39,255,6.20,6.77,7.28,2,3,PBAP-2AP MVP-2AP OPoY-5,PresDa01
3,4,Josh Allen,27,BUF,QB,17,17,11-6-0,385,579,...,70.3,24,152,3.98,6.89,6.51,2,4,AP MVP-5AP OPoY-6,AlleJo02
4,5,Brock Purdy,24,SFO,QB,16,16,12-4-0,308,444,...,73.4,28,153,5.93,8.74,9.01,0,0,PBAP MVP-4AP OPoY-6AP CPoY-6,PurdBr00

## 3. Exploratory Data Analysis (EDA)
We will explore the basic properties of the dataset including its shape, columns, data types, and summary statistics.

### 3.1 Dataset Info
Checking column names, non-null counts, and data types.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rk                 117 non-null    int64
 1   Player             117 non-null    object
 2   Age                117 non-null    int64
 3   Team               117 non-null    object
 4   Pos                117 non-null    object
 5   G                  117 non-null    int64
 6   GS                 117 non-null    int64
 7   QBrec              68 non-null     object
 8   Cmp                117 non-null    int64
 9   Att                117 non-null    int64
 10  Cmp%               106 non-null    float64
 11  Yds                117 non-null    int64
 12  TD                 117 non-null    int64
 13  TD%                106 non-null    float64
 14  Int                117 non-null    int64
 15  Int%               106 non-null    float64
 16  1D                 117 non-null    int64
 17  Succ%              90 non-null     float64
 18  Lng                94 non-null     float64
 19  Y/A                106 non-null    float64
 20  AY/A               106 non-null    float64
 21  Y/C                95 non-null     float64
 22  Y/G                117 non-null    float64
 23  Rate               106 non-null    float64
 24  QBR                106 non-null    float64
 25  Sk                 117 non-null    int64
 26  Yds.1              117 non-null    int64
 27  Sk%                117 non-null    float64
 28  NY/A               117 non-null    float64
 29  ANY/A              117 non-null    float64
 30  4QC                117 non-null    int64
 31  GWD                117 non-null    int64
 32  Awards             19 non-null     object
 33  Player-additional  117 non-null    object
dtypes: float64(14), int64(14), object(6)
memory usage: 31.2+ KB

### 3.2 Summary Statistics
Descriptive statistics for numerical columns.

In [4]:
df.describe()

,Rk,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,106.000000,117.000000,117.000000,106.000000,...,117.000000,106.000000,106.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000
mean,57.401709,27.658120,10.444444,7.025641,103.162393,160.102564,61.724528,1119.923077,6.555556,6.063208,...,105.801709,83.439623,39.873585,12.307692,82.811966,15.350684,5.253333,5.073419,0.555556,0.735043
std,33.365546,3.959194,5.591626,6.341518,132.096292,201.463327,25.257406,1465.057308,9.449908,15.692615,...,101.596009,26.900195,29.498017,15.216519,104.443181,28.315422,6.766101,9.042257,0.913920,1.132537
min,1.000000,21.000000,1.000000,0.000000,0.000000,0.000000,0.000000,-7.000000,0.000000,0.000000,...,-0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,-8.000000,-45.000000,0.000000,0.000000
25%,28.000000,25.000000,5.000000,1.000000,1.000000,1.000000,58.450000,12.000000,0.000000,0.000000,...,0.800000,70.725000,8.275000,0.000000,0.000000,0.000000,3.900000,1.860000,0.000000,0.000000
50%,57.000000,27.000000,11.000000,6.000000,28.000000,47.000000,64.200000,291.000000,2.000000,3.100000,...,86.000000,85.350000,43.450000,5.000000,28.000000,6.200000,5.440000,5.270000,0.000000,0.000000
75%,86.000000,30.000000,16.000000,13.000000,176.000000,268.000000,69.375000,1936.000000,10.000000,4.600000,...,194.400000,99.150000,60.375000,24.000000,169.000000,10.170000,6.330000,6.560000,1.000000,1.000000
max,115.000000,40.000000,17.000000,17.000000,410.000000,612.000000,100.000000,4624.000000,36.000000,100.000000,...,323.200000,146.800000,100.000000,65.000000,477.000000,100.000000,37.000000,37.000000,4.000000,5.000000

### 3.3 Dataset Shape
Viewing the number of rows and columns.

In [5]:
df.shape

(117, 34)

### 3.4 Column Names
Listing all columns in the dataset.

In [6]:
df.columns

Index(['Rk', 'Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'QBrec', 'Cmp', 'Att',
       'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Succ%', 'Lng', 'Y/A',
       'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Sk', 'Yds.1', 'Sk%', 'NY/A',
       'ANY/A', '4QC', 'GWD', 'Awards', 'Player-additional'],
      dtype='object')

### 3.5 Data Types
Checking the data type of each column.

In [7]:
df.dtypes

Rk                     int64
Player                object
Age                    int64
Team                  object
Pos                   object
G                      int64
GS                     int64
QBrec                 object
Cmp                    int64
Att                    int64
Cmp%                 float64
Yds                    int64
TD                     int64
TD%                  float64
Int                    int64
Int%                 float64
1D                     int64
Succ%                float64
Lng                  float64
Y/A                  float64
AY/A                 float64
Y/C                  float64
Y/G                  float64
Rate                 float64
QBR                  float64
Sk                     int64
Yds.1                  int64
Sk%                  float64
NY/A                 float64
ANY/A                float64
4QC                    int64
GWD                    int64
Awards                object
Player-additional     object
dtype: object

### 3.6 Data Preview
Inspecting the head, tail, and a random sample of the data.

In [8]:
# First 5 rows
df.head()

,Rk,Player,Age,Team,Pos,G,GS,QBrec,Cmp,Att,...,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,Awards,Player-additional
0,1,Tua Tagovailoa,25,MIA,QB,17,17,11-6-0,388,560,...,61.5,29,171,4.92,7.56,7.48,2,2,PBAP CPoY-5,TagoTu00
1,2,Jared Goff,29,DET,QB,17,17,12-5-0,407,605,...,61.1,30,197,4.72,6.89,6.99,2,3,NaN,GoffJa00
2,3,Dak Prescott,30,DAL,QB,17,17,12-5-0,410,590,...,73.4,39,255,6.20,6.77,7.28,2,3,PBAP-2AP MVP-2AP OPoY-5,PresDa01
3,4,Josh Allen,27,BUF,QB,17,17,11-6-0,385,579,...,70.3,24,152,3.98,6.89,6.51,2,4,AP MVP-5AP OPoY-6,AlleJo02
4,5,Brock Purdy,24,SFO,QB,16,16,12-4-0,308,444,...,73.4,28,153,5.93,8.74,9.01,0,0,PBAP MVP-4AP OPoY-6AP CPoY-6,PurdBr00

In [9]:
# Last 5 rows
df.tail()

,Rk,Player,Age,Team,Pos,G,GS,QBrec,Cmp,Att,...,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,Awards,Player-additional
112,111,Kyle Trask,25,TAM,QB,2,0,NaN,0,1,...,1.2,0,0,0.0,0.0,0.0,0,0,NaN,TrasKy00
113,112,Cedrick Wilson Jr.,28,MIA,WR,15,3,NaN,0,0,...,0.1,1,7,100.0,-7.0,-7.0,0,0,NaN,WilsCe01
114,113,Garrett Wilson,23,NYJ,WR,17,17,NaN,0,1,...,3.3,0,0,0.0,0.0,0.0,0,0,NaN,WilsGa00
115,114,Christian Kirk,27,JAX,WR,12,12,NaN,1,2,...,3.2,0,0,0.0,-0.5,-0.5,0,0,NaN,KirkCh01
116,115,Ja'Marr Chase,23,CIN,WR,16,16,NaN,1,1,...,1.9,0,0,0.0,-7.0,-7.0,0,0,PB,ChasJa00

In [10]:
# Random sample of 5 rows
df.sample(5)

,Rk,Player,Age,Team,Pos,G,GS,QBrec,Cmp,Att,...,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,Awards,Player-additional
12,13,Derek Carr,32,NOR,QB,17,17,9-8-0,375,548,...,57.3,31,218,5.35,6.32,6.56,0,1,NaN,CarrDe02
2,3,Dak Prescott,30,DAL,QB,17,17,12-5-0,410,590,...,73.4,39,255,6.20,6.77,7.28,2,3,PBAP-2AP MVP-2AP OPoY-5,PresDa01
14,15,Lamar Jackson,26,BAL,QB,16,16,13-3-0,307,457,...,65.4,37,218,7.49,7.00,7.34,1,0,PBAP-1AP MVP-1AP OPoY-4AP CPoY-9,JackLa00
3,4,Josh Allen,27,BUF,QB,17,17,11-6-0,385,579,...,70.3,24,152,3.98,6.89,6.51,2,4,AP MVP-5AP OPoY-6,AlleJo02
24,23,Joshua Dobbs,28,MIN,QB,5,4,2-2-0,95,151,...,NaN,13,91,7.93,4.90,4.14,1,1,NaN,DobbJo00